@import url('https://fonts.googleapis.com/css2?family=Delius&family=Ribeye+Marrow&display=swap');

.ribeye-marrow-regular {
  font-family: "Ribeye Marrow", serif;
  font-weight: 400;
  font-style: normal;
}

.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}
