:root {
  --font-title: 'Ribeye Marrow', serif;
  --font-body: 'Delius', cursive;
}

body, html {
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--font-body);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffefb;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
  text-transform: lowercase;
}

p {
  text-transform: lowercase;
}

button {
  font-family: var(--font-body);
  text-transform: lowercase;
  text-align: center;
}


textarea, select {
  font-family: var(--font-body);
  text-transform: lowercase;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}